.ai-header-v3 {
  background: url("../../_images/research-innovation/artificial-intelligence/img-ai-header-2800x1087-v3.avif");
  background-image: url("../../_images/research-innovation/artificial-intelligence/img-ai-header-2800x1087-v3.avif") !important;
}
.climate-change-fire {
  background: url("../../_images/research-innovation/artificial-intelligence/img-ai-climate-change.gif");
  background-image: url("../../_images/research-innovation/artificial-intelligence/img-ai-climate-change.gif") !important;
}
.climate-change-fire {
  background: url("../../_images/research-innovation/artificial-intelligence/img-ai-climate-change.gif");
  background-image: url("../../_images/research-innovation/artificial-intelligence/img-ai-climate-change.gif") !important;
}
.climate-change-fire {
  background: url("../../_images/research-innovation/artificial-intelligence/img-ai-climate-change.gif");
  background-image: url("../../_images/research-innovation/artificial-intelligence/img-ai-climate-change.gif") !important;
}
.ai-core-facilities-supercomputer {
  background: url("../../_images/research-innovation/artificial-intelligence/img-ai-core-facilities-1174x628.avif");
  background-image: url("../../_images/research-innovation/artificial-intelligence/img-ai-core-facilities-1174x628.avif") !important;
}
.so-hero-bg {
  background: url("../../_images/research-innovation/student-opportunities/img-hero-student-opportunities.avif");
  background-image: url("../../_images/research-innovation/student-opportunities/img-hero-student-opportunities.avif") !important;
}
.incubating-innovation {
  background: url("../../_images/research-innovation/img-research-resources.avif");
  background-image: url("../../_images/research-innovation/img-research-resources.avif") !important;
}
.so-research-ini {
  background: url("../../_images/research-innovation/student-opportunities/img-ahead-of-the-curve.avif");
  background-image: url("../../_images/research-innovation/student-opportunities/img-ahead-of-the-curve.avif") !important;
}
.climate-hero-b-bg {
  background: url("../../_images/research-innovation/climate-change/img-hero-climate-change2.avif");
  background-image: url("../../_images/research-innovation/climate-change/img-hero-climate-change2.avif") !important;
}
.tab-cli-action {
  background: url("../../_images/research-innovation/climate-change/leading-with-informed-action-and-education/img-action.avif");
  background-image: url("../../_images/research-innovation/climate-change/leading-with-informed-action-and-education/img-action.avif") !important;
}
.tab-cli-academics {
  background: url("../../_images/research-innovation/climate-change/leading-with-informed-action-and-education/img-academics.avif");
  background-image: url("../../_images/research-innovation/climate-change/leading-with-informed-action-and-education/img-academics.avif") !important;
}
.tab-cli-resources-b {
  background: url("../../_images/research-innovation/climate-change/tab-climate-resources-b.avif");
  background-image: url("../../_images/research-innovation/climate-change/tab-climate-resources-b.avif") !important;
}
.ri-hero-bg {
  background: url("../../_images/research-innovation/research-initiatives/img-hero-research-initiatives.avif");
  background-image: url("../../_images/research-innovation/research-initiatives/img-hero-research-initiatives.avif") !important;
}
.tab-ri-climate {
  background: url("../../_images/research-innovation/research-initiatives/img-research-initiatives-climate.avif");
  background-image: url("../../_images/research-innovation/research-initiatives/img-research-initiatives-climate.avif") !important;
}
.tab-ri-robotics {
  background: url("../../_images/research-innovation/research-initiatives/img-research-initiatives-robotics.avif");
  background-image: url("../../_images/research-innovation/research-initiatives/img-research-initiatives-robotics.avif") !important;
}
.tab-ri-microbiomes {
  background: url("../../_images/research-innovation/research-initiatives/img-research-initiatives-microbiomes.avif");
  background-image: url("../../_images/research-innovation/research-initiatives/img-research-initiatives-microbiomes.avif") !important;
}
.research-inovation-hero {
  background: url("../../_images/research-innovation/img-hero-we-innovate-with-purpose-032323.avif");
  background-image: url("../../_images/research-innovation/img-hero-we-innovate-with-purpose-032323.avif") !important;
}
.student-opportunities {
  background: url("../../_images/research-innovation/img-real-life-opportunities-032323.avif");
  background-image: url("../../_images/research-innovation/img-real-life-opportunities-032323.avif") !important;
}
.research-initiatives {
  background: url("../../_images/research-innovation/img-research-initiatives-032323.avif");
  background-image: url("../../_images/research-innovation/img-research-initiatives-032323.avif") !important;
}
.research-innovation-resources {
  background: url("../../_images/research-innovation/img-research-resources.avif");
  background-image: url("../../_images/research-innovation/img-research-resources.avif") !important;
}
.research-library {
  background: url("../../_images/research-innovation/img-the-library.avif");
  background-image: url("../../_images/research-innovation/img-the-library.avif") !important;
}
.admissions-hero {
  background: url("../../_images/admissions-aid/img-hero-admissions-and-aid.avif");
  background-image: url("../../_images/admissions-aid/img-hero-admissions-and-aid.avif") !important;
}
.fin-aid {
  background: url("../../_images/admissions-aid/img-invest-in-your-future.avif");
  background-image: url("../../_images/admissions-aid/img-invest-in-your-future.avif") !important;
}
.pople-are-the-point {
  background: url("../../_images/support/img-hero-people-are-the-point-2.avif");
  background-image: url("../../_images/support/img-hero-people-are-the-point-2.avif") !important;
}
.support-foundation {
  background: url("../../_images/support/img-foundation-of-success.avif");
  background-image: url("../../_images/support/img-foundation-of-success.avif") !important;
}
.ss-banner {
  background: url("../../_images/campus-life/student-support/img-hero-student-support.avif");
  background-image: url("../../_images/campus-life/student-support/img-hero-student-support.avif") !important;
}
.brc {
  background: url("../../_images/campus-life/diversity/campus-community-centers/img-black-resource-center.avif");
  background-image: url("../../_images/campus-life/diversity/campus-community-centers/img-black-resource-center.avif") !important;
}
.ccc {
  background: url("../../_images/campus-life/diversity/campus-community-centers/img-cross-cultural-center.avif");
  background-image: url("../../_images/campus-life/diversity/campus-community-centers/img-cross-cultural-center.avif") !important;
}
.irc {
  background: url("../../_images/campus-life/diversity/campus-community-centers/img-intertribal-resource-center.avif");
  background-image: url("../../_images/campus-life/diversity/campus-community-centers/img-intertribal-resource-center.avif") !important;
}
.lgbt {
  background: url("../../_images/campus-life/diversity/campus-community-centers/img-lgbt-resource-center.avif");
  background-image: url("../../_images/campus-life/diversity/campus-community-centers/img-lgbt-resource-center.avif") !important;
}
.raza {
  background: url("../../_images/campus-life/diversity/campus-community-centers/img-raza-resource-center.avif");
  background-image: url("../../_images/campus-life/diversity/campus-community-centers/img-raza-resource-center.avif") !important;
}
.womens-center {
  background: url("../../_images/campus-life/diversity/campus-community-centers/img-womens-center.avif");
  background-image: url("../../_images/campus-life/diversity/campus-community-centers/img-womens-center.avif") !important;
}
.jumbotron-culture {
  background: url("../img/bg_life_culture.avif");
  background-image: url("../img/bg_life_culture.avif") !important;
}
.ss-international-house {
  background: url("../../_images/campus-life/student-support/img-international-house.avif");
  background-image: url("../../_images/campus-life/student-support/img-international-house.avif") !important;
}
.health-wellness {
  background: url("../../_images/campus-life/student-support/img-health-and-wellness.avif");
  background-image: url("../../_images/campus-life/student-support/img-health-and-wellness.avif") !important;
}
.attend-cta {
  background: url("../../_images/admissions-aid/img-attend-uc-san-diego.avif");
  background-image: url("../../_images/admissions-aid/img-attend-uc-san-diego.avif") !important;
}
.campus-life-hero {
  background: url("../../_images/campus-life/img-hero-student-life.avif");
  background-image: url("../../_images/campus-life/img-hero-student-life.avif") !important;
}
.cl-recreation {
  background: url("../../_images/campus-life/img-get-out-and-move.avif");
  background-image: url("../../_images/campus-life/img-get-out-and-move.avif") !important;
}
.artpower {
  background: url("../../_images/campus-life/img-artpower.avif");
  background-image: url("../../_images/campus-life/img-artpower.avif") !important;
}
.stuart-ollection {
  background: url("../../_images/campus-life/img-stuart-collection.avif");
  background-image: url("../../_images/campus-life/img-stuart-collection.avif") !important;
}
.box-office {
  background: url("../../_images/campus-life/img-uc-san-diego-box-office.avif");
  background-image: url("../../_images/campus-life/img-uc-san-diego-box-office.avif") !important;
}
.the-loft {
  background: url("../../_images/campus-life/img-the-loft.avif");
  background-image: url("../../_images/campus-life/img-the-loft.avif") !important;
}
.lj-playhouse {
  background: url("../../_images/campus-life/img-la-jolla-playhouse.avif");
  background-image: url("../../_images/campus-life/img-la-jolla-playhouse.avif") !important;
}
.conrad-music {
  background: url("../../_images/campus-life/img-conrad-prebys-music-center.avif");
  background-image: url("../../_images/campus-life/img-conrad-prebys-music-center.avif") !important;
}
.hero-organizations {
  background: url("../../_images/campus-life/organizations/img-hero-student-organizations.avif");
  background-image: url("../../_images/campus-life/organizations/img-hero-student-organizations.avif") !important;
}
.student-life-get-involved {
  background: url("../../_images/campus-life/organizations/img-get-involved.avif");
  background-image: url("../../_images/campus-life/organizations/img-get-involved.avif") !important;
}
.student-gov {
  background: url("../../_images/campus-life/organizations/bg-student-gov.avif");
  background-image: url("../../_images/campus-life/organizations/bg-student-gov.avif") !important;
}
.student-media {
  background: url("../../_images/campus-life/organizations/img-student-media.avif");
  background-image: url("../../_images/campus-life/organizations/img-student-media.avif") !important;
}
.organizations-spirit {
  background: url("../../_images/campus-life/organizations/img-triton-spirit.avif");
  background-image: url("../../_images/campus-life/organizations/img-triton-spirit.avif") !important;
}
.diversity-hero {
  background: url("../../_images/campus-life/diversity/img-header-student-diversity.avif");
  background-image: url("../../_images/campus-life/diversity/img-header-student-diversity.avif") !important;
}
.brc {
  background: url("../../_images/campus-life/diversity/campus-community-centers/img-black-resource-center.avif");
  background-image: url("../../_images/campus-life/diversity/campus-community-centers/img-black-resource-center.avif") !important;
}
.ccc {
  background: url("../../_images/campus-life/diversity/campus-community-centers/img-cross-cultural-center.avif");
  background-image: url("../../_images/campus-life/diversity/campus-community-centers/img-cross-cultural-center.avif") !important;
}
.irc {
  background: url("../../_images/campus-life/diversity/campus-community-centers/img-intertribal-resource-center.avif");
  background-image: url("../../_images/campus-life/diversity/campus-community-centers/img-intertribal-resource-center.avif") !important;
}
.lgbt {
  background: url("../../_images/campus-life/diversity/campus-community-centers/img-lgbt-resource-center.avif");
  background-image: url("../../_images/campus-life/diversity/campus-community-centers/img-lgbt-resource-center.avif") !important;
}
.raza {
  background: url("../../_images/campus-life/diversity/campus-community-centers/img-raza-resource-center.avif");
  background-image: url("../../_images/campus-life/diversity/campus-community-centers/img-raza-resource-center.avif") !important;
}
.womens-center {
  background: url("../../_images/campus-life/diversity/campus-community-centers/img-womens-center.avif");
  background-image: url("../../_images/campus-life/diversity/campus-community-centers/img-womens-center.avif") !important;
}
.cultural-organizations {
  background: url("../../_images/campus-life/diversity/img-cultural-organizations.avif");
  background-image: url("../../_images/campus-life/diversity/img-cultural-organizations.avif") !important;
}
.spaces {
  background: url("../../_images/campus-life/diversity/img-spaces.avif");
  background-image: url("../../_images/campus-life/diversity/img-spaces.avif") !important;
}
.economic-impact {
  background: url("../../_images/about/economic-impact-report/img-hero-economic-impact-report2.avif");
  background-image: url("../../_images/about/economic-impact-report/img-hero-economic-impact-report2.avif") !important;
}
.additional-resources {
  background: url("../../_images/about/economic-impact-report/img-econ-impact.avif");
  background-image: url("../../_images/about/economic-impact-report/img-econ-impact.avif") !important;
}
.about-hero {
  background: url("../../_images/about/img-hero-about-uc-san-diego.avif");
  background-image: url("../../_images/about/img-hero-about-uc-san-diego.avif") !important;
}
.about-mission {
  background: url("../../_images/about/img-our-mission.avif");
  background-image: url("../../_images/about/img-our-mission.avif") !important;
}
.about-mission {
  background: url("../../_images/about/img-our-mission.avif");
  background-image: url("../../_images/about/img-our-mission.avif") !important;
}
.about-creating-healthier {
  background: url("../../_images/about/img-creating-a-healthier-world.avif");
  background-image: url("../../_images/about/img-creating-a-healthier-world.avif") !important;
}
.public-art {
  background: url("../../_images/about/img-reimagining-public-art.avif");
  background-image: url("../../_images/about/img-reimagining-public-art.avif") !important;
}
.visit-tours-hero-2 {
  background: url("../../_images/about/visiting-tours/img-hero-visiting-tours3.avif");
  background-image: url("../../_images/about/visiting-tours/img-hero-visiting-tours3.avif") !important;
}
.tours-students {
  background: url("../../_images/about/visiting-tours/img-visiting-tours-tours-1.avif");
  background-image: url("../../_images/about/visiting-tours/img-visiting-tours-tours-1.avif") !important;
}
.cl-getting-to-campus {
  background: url("../../_images/about/visiting-tours/img-visiting-tours-getting-to-campus.avif");
  background-image: url("../../_images/about/visiting-tours/img-visiting-tours-getting-to-campus.avif") !important;
}
.getting-around-campus {
  background: url("../../_images/about/visiting-tours/img-visiting-tours-getting-around-campus.avif");
  background-image: url("../../_images/about/visiting-tours/img-visiting-tours-getting-around-campus.avif") !important;
}
.organizations-involvement {
  background: url("../../_images/about/visiting-tours/img-visiting-tours-athletics.avif");
  background-image: url("../../_images/about/visiting-tours/img-visiting-tours-athletics.avif") !important;
}
.arts-uc-san-diego {
  background: url("../../_images/about/visiting-tours/img-visiting-tours-arts.avif");
  background-image: url("../../_images/about/visiting-tours/img-visiting-tours-arts.avif") !important;
}
.library {
  background: url("../../_images/about/visiting-tours/img-visiting-tours-library.avif");
  background-image: url("../../_images/about/visiting-tours/img-visiting-tours-library.avif") !important;
}
.online-extension-hero {
  background: url("../../_images/online-extension/hero.avif");
  background-image: url("../../_images/online-extension/hero.avif") !important;
}
.public-programs {
  background: url("../../_images/online-extension/public-programs.avif");
  background-image: url("../../_images/online-extension/public-programs.avif") !important;
}
.callout-content-3-enroll {
  background: url("../../_images/online-extension/enroll.avif");
  background-image: url("../../_images/online-extension/enroll.avif") !important;
}
.text-cta-image-online-learning {
  background: url("../../_images/online-extension/online-learning.avif");
  background-image: url("../../_images/online-extension/online-learning.avif") !important;
}
.student-success-hero {
  background: url("../../_archive/archive_images/student-success-hero.avif");
  background-image: url("../../_archive/archive_images/student-success-hero.avif") !important;
}
.attend-cta {
  background: url("../../_archive/archive_images/advising.avif");
  background-image: url("../../_archive/archive_images/advising.avif") !important;
}
.teaching-learning {
  background: url("../../_archive/archive_images/teaching-learning.avif");
  background-image: url("../../_archive/archive_images/teaching-learning.avif") !important;
}
.health-wellbeing {
  background: url("../../_archive/archive_images/health-wellbeing.avif");
  background-image: url("../../_archive/archive_images/health-wellbeing.avif") !important;
}
.teaching-learning {
  background: url("../../_archive/archive_images/teaching-learning.avif");
  background-image: url("../../_archive/archive_images/teaching-learning.avif") !important;
}
.health-wellbeing {
  background: url("../../_archive/archive_images/health-wellbeing.avif");
  background-image: url("../../_archive/archive_images/health-wellbeing.avif") !important;
}
.as-hero {
  background: url("../../_images/academics/academic-success/img-hero-academic-success.avif");
  background-image: url("../../_images/academics/academic-success/img-hero-academic-success.avif") !important;
}
.academic-support {
  background: url("../../_images/academics/academic-success/img-academic-support.avif");
  background-image: url("../../_images/academics/academic-success/img-academic-support.avif") !important;
}
.summer-success {
  background: url("../../_images/academics/academic-success/img-summer-success.avif");
  background-image: url("../../_images/academics/academic-success/img-summer-success.avif") !important;
}
.global-opportunities {
  background: url("../../_images/academics/academic-success/img-global-opportunities.avif");
  background-image: url("../../_images/academics/academic-success/img-global-opportunities.avif") !important;
}
.as-changemakers {
  background: url("../../_images/academics/academic-success/img-our-culture.avif");
  background-image: url("../../_images/academics/academic-success/img-our-culture.avif") !important;
}
.engaged-learning-tools {
  background: url("../../_images/academics/academic-success/img-engaged-learning-tools.avif");
  background-image: url("../../_images/academics/academic-success/img-engaged-learning-tools.avif") !important;
}
.ss-wellness {
  background: url("../../_images/campus-life/student-support/img-health-and-wellness.avif");
  background-image: url("../../_images/campus-life/student-support/img-health-and-wellness.avif") !important;
}
.academics-test {
  background: url("../../_images/academics/img-hero-academics.avif");
  background-image: url("../../_images/academics/img-hero-academics.avif") !important;
}
.summer-session {
  background: url("../../_images/academics/img-plan-now-for-summer.avif");
  background-image: url("../../_images/academics/img-plan-now-for-summer.avif") !important;
}
.academics-detail-hero {
  background: url("../../_images/academics/undergraduate-degree-programs/img-hero-undergraduate-degree-programs.avif");
  background-image: url("../../_images/academics/undergraduate-degree-programs/img-hero-undergraduate-degree-programs.avif") !important;
}
.academics-detail-hero {
  background: url("../../_images/academics/undergraduate-degree-programs/img-hero-undergraduate-degree-programs.avif");
  background-image: url("../../_images/academics/undergraduate-degree-programs/img-hero-undergraduate-degree-programs.avif") !important;
}
.academics-detail-hero {
  background: url("../../_images/academics/undergraduate-degree-programs/img-hero-undergraduate-degree-programs.avif");
  background-image: url("../../_images/academics/undergraduate-degree-programs/img-hero-undergraduate-degree-programs.avif") !important;
}
.research-innovation {
  background: url("../../_images/homepage/img-research-and-innovation.avif");
  background-image: url("../../_images/homepage/img-research-and-innovation.avif") !important;
}
.attend-cta {
  background: url("../../_images/homepage/img-financial-aid-scholorships.avif");
  background-image: url("../../_images/homepage/img-financial-aid-scholorships.avif") !important;
}
.student-life-alt {
  background: url("../../_images/homepage/img-our-thriving-student-life.avif");
  background-image: url("../../_images/homepage/img-our-thriving-student-life.avif") !important;
}
