@charset "UTF-8";
.screen-reader{
	border:0;
	clip:rect(0 0 0 0);
	height:1px;
	margin:-1px;
	overflow:hidden;
	padding:0;
	position:absolute;
	white-space:nowrap;
	width:1px
}

a{
	cursor:pointer
}

a.terms-link{
	color:#fff
}

.btn-apply{
	display:block!important;
	visibility:visible
}
.footer-tel,.terms-link{
	text-decoration:underline
}

.footer-links h3 {
    font-size: 16px;
}
.side-image-white > div > div > div > p > .btn-default:hover {
    background: #00c6d7;
	 color: #182B49;
}
.row-flex{
	display:flex
}
.jumbotron-events-news hr{
	border-top:1px solid #bbb;
	margin-top:3em
}
.jumbotron-events-news{
	background-color:#eee;
	color:#484949
}
.jumbotron-events-news .date-wrap{
	background:#006a96;
	color:#fff;
	text-align:center;
	width:6em;
	font-size:1.22em;
	line-height:1.25em;
	padding:.5em 1em;
	margin:0 1.5em .25em 0
}
.jumbotron-events-news .date-wrap span{
	font-family:BrixSansBold
}
.jumbotron-events-news .event{
	margin-bottom:1.5em;
	display:flex;
	flex-flow:row;
	align-items:center
}
.jumbotron-events-news .event:first-of-type{
	margin-top:2em
}
.jumbotron-events-news .event-title{
	margin-bottom:0;
	margin-right:1em;
	width:75%
}
.jumbotron-events-news .news{
	display:flex;
	flex-flow:column;
	justify-content:space-between;
	margin:.8em 0 0 0
}
.jumbotron-events-news .news-date{
	margin:.5em 0 0 0
}
.jumbotron-events-news .news-heading{
	display:flex;
	justify-content:space-between;
	align-items:baseline
}
.jumbotron-events-news .news-item{
	display:flex;
	flex-flow:column wrap;
	margin-bottom:2em
}
:root .jumbotron-events-news .news-content{
	max-height:550px
}
@media (min-width:768px){
	.jumbotron-events-news .events{
		display:flex;
		flex-flow:row;
		justify-content:space-between
	}
	.jumbotron-events-news .event{
		margin:1em 0 1.5em 0;
		display:flex;
		flex-flow:column;
		align-items:flex-start;
		width:30%
	}
	.jumbotron-events-news .event:first-of-type{
		margin-top:1em
	}
	.jumbotron-events-news .news{
		flex-flow:row
	}
	.jumbotron-events-news .news-item{
		justify-content:space-between;
		width:30%
	}
	:root .jumbotron-events-news .news-content{
		max-height:350px
	}
}
@media (min-width:992px){
	.jumbotron-events-news .date-wrap{
		font-size:inherit;
		width:4em;
		padding:.5em;
		margin:0 1em 0 0
	}
	.jumbotron-events-news .events{
		flex-flow:column;
		margin-bottom:.5em
	}
	.jumbotron-events-news .event{
		margin-bottom:.5em;
		display:flex;
		flex-flow:row;
		align-items:center;
		width:auto
	}
	.jumbotron-events-news .event-title{
		width:6.75em
	}
	.jumbotron-events-news .news-container{
		padding-top:0
	}
	.jumbotron-events-news .news-item{
		width:31%
	}
}
.jumbotron-quote-slider ul.new-quote-slider{
	list-style:none;
	padding:0 0 20px;
	position:relative;
	margin:0
}
.jumbotron-quote-slider .new-quote-slider .image{
	width:50%;
	float:left;
	min-height:310px;
	background-position:center top;
	background-repeat:no-repeat;
	box-shadow:0 0 7px rgba(0,0,0,.3);
	background-size:cover
}
.jumbotron-quote-slider .new-quote-slider .text{
	width:50%;
	float:left;
	display:table;
	height:310px;
	padding:15px 0;
	background:#fff;
	box-shadow:0 0 7px rgba(0,0,0,.3)
}
.jumbotron-quote-slider .new-quote-slider .text .v-align{
	display:table-cell;
	vertical-align:middle
}
.jumbotron-quote-slider .new-quote-slider .top-heading{
	margin-top:-10px;
	color:#484949;
	font-family:BrixSansBold;
	font-weight:400;
	text-transform:none;
	font-size:20px;
	line-height:28px;
	text-align:center
}
.jumbotron-quote-slider .new-quote-slider .top-heading:after{
	display:block;
	margin:13px auto;
	height:2px;
	width:45px;
	background:#dfdfdf;
	content:""
}
.jumbotron-quote-slider .new-quote-slider p{
	color:#484949;
	min-height:100px;
	margin:0;
	font-size:18px;
	line-height:28px;
	text-align:center;
	padding:0 30px 15px
}
.jumbotron-quote-slider .new-quote-slider .text .v-align .big-number{
	position:static;
	left:auto;
	width:49.5%;
	color:#182b49;
	font-size:6rem;
	font-family:BrixSansBold;
	line-height:normal;
	text-shadow:none;
	top:40px;
	letter-spacing:-4px;
	margin:0;
	padding:0
}
.jumbotron-quote-slider .container{
	/*width:1240px*/
}
.jumbotron-quote-slider ul.new-quote-slider{
	list-style:none;
	padding:0 0 20px;
	position:relative;
	margin:0
}
.jumbotron-quote-slider .new-quote-slider .top-heading{
	margin-top:-10px;
	color:#484949;
	font-family:BrixSansBold;
	font-weight:400;
	text-transform:none;
	font-size:20px;
	line-height:28px;
	text-align:center
}
.jumbotron-quote-slider .new-quote-slider .text .v-align .big-number{
	position:static;
	left:auto;
	width:49.5%;
	color:#182b49;
	font-size:6rem;
	font-family:BrixSansBold;
	line-height:normal;
	text-shadow:none;
	top:40px;
	letter-spacing:-4px;
	margin:0;
	padding:0
}
@media (max-width:1199px){
	.jumbotron-quote-slider .container{
		width:970px
	}
	.jumbotron-quote-slider .new-quote-slider p{
		padding-left:10px;
		padding-right:10px;
		line-height:26px
	}
	.jumbotron-quote-slider .new-quote-slider .big-number{
		top:-25px;
		font-size:10rem
	}
	.jumbotron-quote-slider .new-quote-slider .big-number{
		top:-25px;
		font-size:10rem
	}
}
@media (max-width:991px){
	.jumbotron-quote-slider .container{
		width:750px
	}
	.jumbotron-quote-slider .new-quote-slider .big-number{
		top:-20px
	}
	.jumbotron-quote-slider .new-quote-slider .big-number{
		top:-20px
	}
}
@media (max-width:767px){
	.btn{
		font-size:13px;
		letter-spacing:.04em;
		min-width:168px
	}
	.jumbotron-quote-slider .new-quote-slider .image,.jumbotron-quote-slider .new-quote-slider .text{
		width:100%;
		float:none
	}
	.jumbotron-quote-slider .new-quote-slider .big-number{
		left:0;
		width:98%;
		top:250px
	}
	.jumbotron-quote-slider .new-quote-slider .text{
		height:auto;
		padding:30px 0
	}
	.jumbotron-quote-slider .new-quote-slider p{
		min-height:10px
	}
	.jumbotron-quote-slider .new-quote-slider .big-number{
		left:0;
		width:98%;
		top:250px
	}
}
/* .jumbotron:first-child{
	margin-top:275px!important
} */

@media (max-width:1999px){

	/* .jumbotron:first-child{
		margin-top:275px!important
	} */
}

@media (max-width:991px){
	/* .jumbotron:first-child{
		margin-top:258px!important
	} */
}


@media (max-width:768px){

	/* .jumbotron:first-child{
		margin-top:192px!important
	} */
}
/*! * animate.css -http://daneden.me/animate * Version - 3.5.1 * Licensed under the MIT license - http://opensource.org/licenses/MIT * * Copyright (c) 2016 Daniel Eden */
.animated{
	-webkit-animation-duration:1s;
	animation-duration:1s;
	-webkit-animation-fill-mode:both;
	animation-fill-mode:both
}
@-webkit-keyframes fadeIn{
	from{
		opacity:0
	}
	to{
		opacity:1
	}
}
@keyframes fadeIn{
	from{
		opacity:0
	}
	to{
		opacity:1
	}
}
.fadeIn{
	-webkit-animation-name:fadeIn;
	animation-name:fadeIn
}
@-webkit-keyframes fadeInUp{
	from{
		opacity:0;
		-webkit-transform:translate3d(0,10%,0);
		transform:translate3d(0,10%,0)
	}
	to{
		opacity:1;
		-webkit-transform:none;
		transform:none
	}
}
@keyframes fadeInUp{
	from{
		opacity:0;
		-webkit-transform:translate3d(0,5%,0);
		transform:translate3d(0,5%,0)
	}
	to{
		opacity:1;
		-webkit-transform:none;
		transform:none
	}
}
.fadeInUp{
	-webkit-animation-name:fadeInUp;
	animation-name:fadeInUp
}

.jumbotron-hero .btn {
	display: table;
}
.jumbotron-inset-img {
	background-image: none !important;
}
.jumbotron-inset-img .btn-default:hover {
	background: #182B49;
	color: #ffffff;
}

/* Hero Slider */
 .carousel {
	 margin-bottom: 0px;
	 padding: 0;
}
 .carousel-indicators .active {
	 margin: 0;
	 width: 12px;
	 height: 12px;
	 background-color: #fff;
}
 .carousel-indicators li {
     display: inline-block;
	 width: 10px;
	 height: 10px;
	 margin: 1px;
	 text-indent: -999px;
	 border: 1px solid #fff;
	 border-radius: 10px;
	 cursor: pointer;
	 background-color: transparent;
}
 .carousel .cr-item-container {
	 position:absolute;
	 top:25%;
	 transition:all .2s linear;
	 width:inherit
}
 .carousel .item {
	 background-color:#fff
}
 .carousel-inner > .item > img {
	 top:0;
	 left:0;
	 width:100%;
	 height:auto
}
 .carousel-control {
	 width:10%
}
.glyphicon-chevron-left:before,
.glyphicon-chevron-right:before {
	color: #fff;
}
 button#toggleCarousel {
	 min-width: 20px;
	 margin: 2px 5px 0 2px;
	 position: relative;
	 display: block;
	 z-index: 9000;
	 float: right;
	 bottom: -1px;
	 background: transparent;
	 border: none;
	 color: #fff;
	 font-size: 14px;
}
 .rt-btn-yellow {
	 background-color: #ffcd00;
}
 .rt-btn-yellow:hover, .rt-btn-yellow:focus {
	 color: #484949;
	 background-color: #fff;
}
 .carousel-control.left, .carousel-control.right {
	 background-image:none
}
 @media screen and (max-width:1450px){
	 .carousel .cr-item-container{
		 top:10%
	}
}
 @media screen and (max-width:1200px) {
	 .carousel .cr-item-container h1 {
		 font-size:40px
	}
}
 @media screen and (min-width:1025px) {
	 .jumbotron h1.rt-text-small {
		 font-size:3em;
	}
}
 @media screen and (max-width:960px) {
	 .carousel .cr-item-container {
		 top:10%;
	}
	 .carousel-control {
		 width:5%
	}
}
 @media screen and (max-width:768px) {
	 .carousel .cr-item-container {
		 top:20%;
		margin:0 5%
	}
	 .carousel .cr-item-container p {
		 display:none
	}
	 .carousel .cr-item-container a.btn {
		 padding:8px;
		 min-width:150px;
		 font-size:13px
	}
	 .carousel .cr-item-container h1 {
		 font-size:2em!important
	}
}
@media screen and (min-width: 768px) {
	.carousel-control .glyphicon-chevron-left,
	.carousel-control .glyphicon-chevron-right {
	    font-size: 38px;
	}
}
@media screen and (max-width:640px) {
	 .carousel .cr-item-container {
		 top:10%
	}
	 .carousel-indicators {
		 display:none;
	}
}
 @media screen and (max-width:480px) {
	 .carousel .cr-item-container {
		 top:25%
	}
	 .carousel .cr-item-container h1 {
		 font-size:1.2em!important
	}
}

/* Rebrand 2023 */

.jumbotron:first-child {
	margin-top: 194px;
	/*margin-top: 194px;COMMENTED OUT BY JH 5/11/23*/
    margin-top: 80px; /*ADDED BY JH 5/11/23*/
}

.jumbotron a:not(.btn-primary) {
	color: #182B49;
}

.jumbotron .btn-default {
	margin-top: 15px;
	color: #182B49;
}

.jumbotron.side-image p, .jumbotron.side-image-white p, .jumbotron.side-image h2, .jumbotron.side-image-white h2 {
	color: #182b49;
}

.jumbotron-callout-sm  {
	position: sticky;
}

.jumbotron-events-news {
	background-color: #F5F0E6;
	color: #182b49;
}

.jumbotron-events-news .event {
	display: block;
	background-color: #00C6D7;
	padding: 15px;
	border-radius: 14px;
	margin-bottom: 1em;
}

.jumbotron-events-news .event-title {
	width: 100%;
}

.jumbotron-events-news .date-wrap {
	background: none;
	color: #182b49;
	text-align: left;
	/* font-size: 16px; */
	width: auto;
	padding: 0 1em 0.2em 0;
	margin: 0 1.5em 0 0;
	/* text-decoration: none !important; */
	text-transform: uppercase;
   font-size: .85em;
}

.jumbotron-events-news .news-date {
	text-transform: uppercase;
   font-size: .85em;
   margin-bottom: 0.25em;
   margin-top: 1.5em;
}

.jumbotron-events-news .link-wrapper:hover {
	text-decoration: none;
}

.jumbotron-events-news .date-wrap span {
	font-family: BrixSansRegular;
}

.jumbotron-events-news .event .text-link-no-arrow {
	font-family: BrixSansBold,Helvetica,Arial,sans-serif;
	text-transform: none;
   letter-spacing: normal;
   font-size: 1.22em;
	border-bottom: none;
	line-height: 1.1em;
	text-decoration: none;
}

.jumbotron-events-news img{
	border-radius: 14px;
}

.jumbotron-hero .btn {
	display: inline-block;
}

.jumbotron-map .panel.panel-default {
	border-radius: 14px;
}
/* .jumbotron-news .panel.panel-default:hover .panel-news-date {
	text-decoration: none;
} */

.jumbotron-attend.jumbotron-orbs-1 {
	background-image: url(../img/bg-orbs-1-mobile.jpg);
	background-position: center;
}

.jumbotron.jumbotron-attend h2 {
	margin-top: 0;
}

.jumbotron.jumbotron-attend .panel-primary {
	background-color: #00649b;
	border-radius: 14px;
}

.jumbotron.jumbotron-attend .panel-primary .panel-text {
	margin-bottom: 4rem;
}

.jumbotron[data-module=callout-content-four] h2,
.jumbotron[data-module=callout-image-small] h2 {
	text-shadow: 0 0 50px rgba(0,0,0,.75);
}

.jumbotron-quote-slider.grit-combo-8 {
	background-image: url(../img/bg-grit-combo-8-mobile.jpg);
}

.jumbotron-quote-slider.grit-combo-8 .new-quote-slider .image {
	border-radius: 14px 14px 0 0;
}

.jumbotron-quote-slider.grit-combo-8 .new-quote-slider .text {
	border-radius: 0 0 14px 14px;
}

.jumbotron-quote-slider.grit-combo-8 .new-quote-slider .top-heading,
.jumbotron-quote-slider.grit-combo-8 .new-quote-slider p
 {
	color: #182b49;
}

.navbar-form.navbar-right.navbar-search .input-group-btn:last-child>.btn {
	border-bottom-left-radius: 8px;
	border-top-left-radius: 8px;
}

.overlay-glow-small-1::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image:url(../img/overlay-glow-small-1.png);
	background-size: cover;
   background-position: 0% 50%;
   mix-blend-mode: lighten;
   background-repeat: no-repeat;
   z-index: -1;
}

#heroslider::before {
	content: "";
	position: absolute;
	/*top: 194px;COMMENTED OUT BY JH 5/11/23*/
    top: 80px; /*ADDED BY JH 5/11/23*/
	left: 0;
	width: 100%;
	height: 80px;
	background-image:url(../img/overlay-hero-tab-mobile.png);
	background-size: contain;
   background-position: top right;
   background-repeat: no-repeat;
	z-index: 2;
}

#heroslider::before {
	top: 0;
}

section[data-module=text-and-cta-with-inset-image] img {
	border-radius: 14px;
}

/* section[data-module=text-and-cta-with-full-height-image-right] {
	background: #F5F0E6;
} */

.side-image-white {
	background: #fff;
}

.side-image h2 {
	padding-top: 0;
}

.text-indent h1 span {
	margin-left: 0;
}

@media screen and (min-width: 437px) {
	.jumbotron:first-child {
		/*margin-top: 175px;COMMENTED OUT BY JH 5/11/23*/
		 margin-top: 80px; /*ADDED BY JH 5/11/23*/
	}
}

@media screen and (min-width: 576px) {
	#heroslider::before {
		background-image:url(../img/overlay-hero-tab-med.png);
		background-size: contain;
	}
}

@media screen and (min-width: 768px) {
	.jumbotron:first-child {
		/*margin-top: 212px;COMMENTED OUT BY JH 5/11/23*/
		 margin-top: 80px; /*ADDED BY JH 5/11/23*/
	}

	.jumbotron-attend.jumbotron-orbs-1 {
		background-image: url(../img/bg-orbs-1.jpg);
		background-position: right bottom;
	}

	.jumbotron-quote-slider.grit-combo-8 {
		background-image: url(../img/bg-grit-combo-8.jpg);
	}
	
	.jumbotron-quote-slider.grit-combo-8 .new-quote-slider .image {
		border-radius: 14px 0 0 14px;
	}
	
	.jumbotron-quote-slider.grit-combo-8 .new-quote-slider .text {
		border-radius: 0 14px 14px 0;
	}

	.side-image h2 {
		padding-top: 1.2em;
	}
}

@media screen and (min-width: 992px) {
	.jumbotron:first-child {
		/*margin-top: 300px;COMMENTED OUT BY JH 5/11/23*/
		 margin-top: 195px; /*ADDED BY JH 5/11/23*/
	}

	#heroslider::before {
		background-image:url(../img/overlay-hero-tab.png);
		background-size: cover;
		/*top: 300px;COMMENTED OUT BY JH 5/11/23*/
		 top: 195px; /*ADDED BY JH 5/11/23*/
	}

	#heroslider::before {
		top:0;
	}
	
	.jumbotron-attend.jumbotron-orbs-1 {
		background-image: url(../img/bg-orbs-1.jpg);
		background-position: center;
	}
	
	.jumbotron.jumbotron-attend .text-lg-right {
		text-align: right;
	}

	.jumbotron-attend .btn-default {
		margin-top: 4px;
	}

	.jumbotron-events-news .event {
		margin: 0 0 0.5em 0;
	}

	.jumbotron-events-news .event:hover {
		background-color: #00629B;
		color: #fff;
	}

	.jumbotron-events-news .event:hover .date-wrap {
		color: #fff;
	}

	.jumbotron-events-news .event:hover .event-title a {
		color: #fff;
	}

	.jumbotron-events-news .event .text-link-no-arrow {
		font-size: 1.1em;
	}

	.jumbotron-events-news .news-item img {
		transition: transform .2s ease-in-out;
	}
	.jumbotron-events-news .news-item:hover img {
		transform: scale(1.1);
	}

	.jumbotron-events-news .news-item:hover {
		text-decoration: none;
	}

	.text-indent h1 span{
		margin-left: 0;
	}

	.text-indent-h1 p{
		margin-left: 0;
		width: 24em;
	}

	.text-indent-h1 a.btn{
		margin-left: 0;
	}

	.text-indent-h2 p {
		margin-left: 0;
		width: auto;
	}

	.jumbotron-callout-sm .text-indent-h2 p,
	.jumbotron-callout-sm .text-indent p {
		width: 19em;
	}

	.text-indent-h2 a.btn{
		margin-left: 0;
	}
}

@media screen and (min-width: 1200px) {
	.jumbotron:first-child {
		/*margin-top: 275px;COMMENTED OUT BY JH 5/11/23*/
		margin-top: 195px; /*ADDED BY JH 5/11/23*/
	}	

	section[data-module=text-and-cta-with-inset-image] p,
	section[data-module=text-and-cta-with-inset-image] h2 {
		max-width: 500px;
	}
}



.jumbotron .panel-primary h3 {
	font-size: 1.6em;
	line-height: 1;
}

.jumbotron .panel-primary .panel-body {
	padding: 0.5em 2em 1em 2em !important;
}

.jumbotron-quote-slider.grit-combo-8 .row-flex {
	flex-direction: column;
	align-items: center;
}

@media screen and (min-width: 768px) {
	.jumbotron-quote-slider.grit-combo-8 .row-flex {
		align-items: initial;
	}
}

@media screen and (min-width: 992px) { 
	.jumbotron-quote-slider.grit-combo-8 .row-flex {
		flex-direction: row;
	}
	.jumbotron-quote-slider.grit-combo-8 .row-flex {
		align-items: center;
	}
}

/* DRAWERS */
/* Dark Theme */
/* BACKGROUND IMAGE DRAWERS */

/* Callout Content One / "Text Block" Module */
 
 .jumbotron-hero .dark-blue-gradient:before {
	  content: "";
	  position: absolute;
	  top: 0;
	  left: 0;
	  width: 100%;
	  height: 100%;
	  background-image: linear-gradient(90deg, rgba(10,39,73,1) 7%, rgba(255,255,255,0) 50%);
 }