html{
	font-family:sans-serif;
	-ms-text-size-adjust:100%;
	-webkit-text-size-adjust:100%
}
body{
	margin:0
}
footer,nav,section{
	display:block
}
a{
	background-color:transparent
}
a:active,a:hover{
	outline:0
}
h1{
	font-size:2em;
	margin:.67em 0
}
img{
	border:0
}
hr{
	box-sizing:content-box;
	height:0
}
button,input{
	color:inherit;
	font:inherit;
	margin:0
}
button{
	overflow:visible
}
button{
	text-transform:none
}
button,input[type=submit]{
	-webkit-appearance:button;
	cursor:pointer
}
button::-moz-focus-inner,input::-moz-focus-inner{
	border:0;
	padding:0
}
input{
	line-height:normal
}
input[type=radio]{
	box-sizing:border-box;
	padding:0
}
input[type=search]{
	-webkit-appearance:textfield;
	box-sizing:content-box
}
input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{
	-webkit-appearance:none
}
/*! Source: https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css */
@media print{
	*,:after,:before{
		background:0 0!important;
		color:#000!important;
		box-shadow:none!important;
		text-shadow:none!important
	}
	a,a:visited{
		text-decoration:underline
	}
	a[href]:after{
		content:" (" attr(href) ")"
	}
	a[href^="#"]:after{
		content:""
	}
	img{
		page-break-inside:avoid
	}
	img{
		max-width:100%!important
	}
	h2,h3,p{
		orphans:3;
		widows:3
	}
	h2,h3{
		page-break-after:avoid
	}
	.navbar{
		display:none
	}
}
@font-face{
	font-family:"Glyphicons Halflings";
	src:url(../fonts/glyphicons-halflings-regular.woff) format("woff");
	font-weight:400;
	font-style:normal;
	font-display: swap;
}
.glyphicon{
	position:relative;
	top:1px;
	display:inline-block;
	font-family:"Glyphicons Halflings";
	font-style:normal;
	font-weight:400;
	line-height:1;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale
}
.glyphicon-pause:before{
	content:"\e073"
}
.glyphicon-chevron-left:before{
	content:"\e079"
}
.glyphicon-chevron-right:before{
	content:"\e080"
}
*{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box
}
:after,:before{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box
}
html{
	font-size:10px;
	-webkit-tap-highlight-color:transparent
}
body{
	font-family:BrixSansRegular,Helvetica,Arial,sans-serif;
	font-size:16px;
	line-height:1.44;
	color:#182B49;
	background-color:#fff
}
button,input{
	font-family:inherit;
	font-size:inherit;
	line-height:inherit
}
a{
	color:#00629B;
	text-decoration:none
}
a:focus,a:hover{
	color:#00344a;
	text-decoration:underline
}
a:focus{
	outline:5px auto -webkit-focus-ring-color;
	outline-offset:-2px
}
img{
	vertical-align:middle
}
.img-responsive{
	display:block;
	max-width:100%;
	height:auto
}
hr{
	margin-top:23px;
	margin-bottom:23px;
	border:0;
	border-top:1px solid #eee
}
.sr-only{
	position:absolute;
	width:1px;
	height:1px;
	margin:-1px;
	padding:0;
	overflow:hidden;
	clip:rect(0,0,0,0);
	border:0
}
[role=button]{
	cursor:pointer
}
h1,h2 {
	font-family:RefrigeratorDeluxeExtrabold,Helvetica,Arial,sans-serif;
	line-height:.917;
	color:inherit;
	max-width: 600px;
}
h3{
	font-family:BrixSansBold,Helvetica,Arial,sans-serif;
	font-weight:700;
	line-height:.917;
	color:inherit;
}
h1,h2,h3{
	margin-top:23px;
	margin-bottom:11.5px
}
h1{
	font-size:38px
}
h2{
	font-size:29px;
	letter-spacing: .5px;
}
h3{
	font-size:25px
}
p{
	margin:0 0 11.5px
}
.small{
	font-size:87%
}
.text-center{
	text-align:center
}
ol,ul{
	margin-top:0;
	margin-bottom:11.5px
}
ul ul{
	margin-bottom:0
}
.list-unstyled{
	padding-left:0;
	list-style:none
}
.list-inline{
	padding-left:0;
	list-style:none;
	margin-left:-5px
}
.list-inline>li{
	display:inline-block;
	padding-left:5px;
	padding-right:5px
}
address{
	margin-bottom:23px;
	font-style:normal;
	line-height:1.44
}
.container{
	margin-right:auto;
	margin-left:auto;
	padding-left:15px;
	padding-right:15px
}
.container:after,.container:before{
	content:" ";
	display:table
}
.container:after{
	clear:both
}
@media (min-width:768px){
	.container{
		width:750px
	}
}
@media (min-width:992px){
	.container{
		width:970px
	}
}
@media (min-width:1200px){
	.container{
		width:1170px
	}
}
.container-fluid{
	margin-right:auto;
	margin-left:auto;
	padding-left:15px;
	padding-right:15px
}
.container-fluid:after,.container-fluid:before{
	content:" ";
	display:table
}
.container-fluid:after{
	clear:both
}
.row{
	margin-left:-15px;
	margin-right:-15px
}
.row:after,.row:before{
	content:" ";
	display:table
}
.row:after{
	clear:both
}
.col-lg-12,.col-md-12,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-sm-12,.col-sm-3,.col-sm-6,.col-sm-8,.col-sm-9,.col-xs-12,.col-xs-6{
	position:relative;
	min-height:1px;
	padding-left:15px;
	padding-right:15px
}
.col-xs-12,.col-xs-6{
	float:left
}
.col-xs-6{
	width:50%
}
.col-xs-12{
	width:100%
}
@media (min-width:768px){
	.col-sm-12,.col-sm-3,.col-sm-6,.col-sm-8,.col-sm-9{
		float:left
	}
	.col-sm-3{
		width:25%
	}
	.col-sm-6{
		width:50%
	}
	.col-sm-8{
		width:66.66667%
	}
	.col-sm-9{
		width:75%
	}
	.col-sm-12{
		width:100%
	}
	.col-sm-offset-9{
		margin-left:75%
	}
}
@media (min-width:992px){
	.col-md-12,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9{
		float:left
	}
	.col-md-3{
		width:25%
	}
	.col-md-4{
		width:33.33333%
	}
	.col-md-5{
		width:41.66667%
	}
	.col-md-6{
		width:50%
	}
	.col-md-7{
		width:58.33333%
	}
	.col-md-8{
		width:66.66667%
	}
	.col-md-9{
		width:75%
	}
	.col-md-12{
		width:100%
	}
	.col-md-offset-2{
		margin-left:16.66667%
	}
	.col-md-offset-7{
		margin-left:58.33333%
	}
}
@media (min-width:1200px){
	.col-lg-12{
		float:left
	}
	.col-lg-12{
		width:100%
	}
}
label{
	display:inline-block;
	max-width:100%;
	margin-bottom:5px;
	font-weight:700
}
input[type=search]{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box
}
input[type=radio]{
	margin:4px 0 0;
	line-height:normal
}
input[type=radio]:focus{
	outline:5px auto -webkit-focus-ring-color;
	outline-offset:-2px
}
.form-control{
	display:block;
	width:100%;
	height:49px;
	padding:6px 12px;
	font-size:16px;
	line-height:1.44;
	color:#747678;
	background-color:#fff;
	background-image:none;
	border:1px solid #ccc;
	border-radius:0;
	-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	-o-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s
}
.form-control:focus{
	border-color:#66afe9;
	outline:0;
	-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
	box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)
}
.form-control::-moz-placeholder{
	color:#7f7f7f;
	opacity:1
}
.form-control:-ms-input-placeholder{
	color:#7f7f7f
}
.form-control::-webkit-input-placeholder{
	color:#7f7f7f
}
.form-control::-ms-expand{
	border:0;
	background-color:transparent
}
input[type=search]{
	-webkit-appearance:none
}
.radio-inline input[type=radio]{
	position:absolute;
	margin-left:-20px
}
.radio-inline{
	position:relative;
	display:inline-block;
	padding-left:20px;
	margin-bottom:0;
	vertical-align:middle;
	font-weight:400;
	cursor:pointer
}
.radio-inline+.radio-inline{
	margin-top:0;
	margin-left:10px
}
@media (min-width:768px){
	.form-inline .form-control{
		display:inline-block;
		width:auto;
		vertical-align:middle
	}
	.form-inline .input-group{
		display:inline-table;
		vertical-align:middle
	}
	.form-inline .input-group .form-control,.form-inline .input-group .input-group-btn{
		width:auto
	}
	.form-inline .input-group>.form-control{
		width:100%
	}
}
.btn{
	display:inline-block;
	margin-bottom:0;
	font-weight:700;
	text-align:center;
	vertical-align:middle;
	touch-action:manipulation;
	cursor:pointer;
	background-image:none;
	border:1px solid transparent;
	white-space:nowrap;
	padding:6px 12px;
	font-size:16px;
	line-height:1.44;
	border-radius:0;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none
}
.btn:active:focus,.btn:focus{
	outline:5px auto -webkit-focus-ring-color;
	outline-offset:-2px
}
.btn:focus,.btn:hover{
	color:#fff;
	text-decoration:none
}
.btn:active{
	outline:0;
	background-image:none;
	-webkit-box-shadow:inset 0 3px 5px rgba(0,0,0,.125);
	box-shadow:inset 0 3px 5px rgba(0,0,0,.125)
}
.btn-default{
	color:#fff;
	background-color:#ffcd00;
	border-color:transparent
}
.btn-default:focus{
	color:#fff;
	background-color:#cca400;
	border-color:transparent
}
.btn-default:hover{
	color:#fff;
	background-color:#cca400;
	border-color:transparent
}
.btn-default:active{
	color:#fff;
	background-color:#cca400;
	border-color:transparent
}
.btn-default:active:focus,.btn-default:active:hover{
	color:#fff;
	background-color:#a88700;
	border-color:transparent
}
.btn-default:active{
	background-image:none
}
.btn-primary{
	color:#fff;
	background-color:#00629B;
	border-color:transparent
}
.btn-primary:focus{
	color:#fff;
	background-color:#004663;
	border-color:transparent
}
.btn-primary:hover{
	color:#fff;
	background-color:#004663;
	border-color:transparent
}
.btn-primary:active{
	color:#fff;
	background-color:#004663;
	border-color:transparent
}
.btn-primary:active:focus,.btn-primary:active:hover{
	color:#fff;
	background-color:#002d3f;
	border-color:transparent
}
.btn-primary:active{
	background-image:none
}
.btn-lg{
	padding:10px 16px;
	font-size:20px;
	line-height:1.33333;
	border-radius:0
}
.collapse{
	display:none
}
.dropdown,.dropup{
	position:relative
}
.dropdown-toggle:focus{
	outline:0
}
.dropdown-menu{
	position:absolute;
	top:100%;
	left:0;
	z-index:1000;
	display:none;
	float:left;
	min-width:160px;
	padding:5px 0;
	margin:2px 0 0;
	list-style:none;
	font-size:16px;
	text-align:left;
	background-color:#004d6d;
	border:1px solid #ccc;
	border:1px solid rgba(0,0,0,.15);
	border-radius:0;
	-webkit-box-shadow:0 6px 12px rgba(0,0,0,.175);
	box-shadow:0 6px 12px rgba(0,0,0,.175);
	background-clip:padding-box
}
.dropdown-menu>li>a{
	display:block;
	padding:3px 20px;
	clear:both;
	font-weight:400;
	line-height:1.44;
	color:#fff;
	white-space:nowrap
}
.dropdown-menu>li>a:focus,.dropdown-menu>li>a:hover{
	text-decoration:none;
	color:#262626;
	background-color:#fff
}
.dropup .dropdown-menu{
	top:auto;
	bottom:100%;
	margin-bottom:2px
}
.btn-group{
	position:relative;
	display:inline-block;
	vertical-align:middle
}
.btn-group>.dropdown-toggle:not(:first-child){
	border-bottom-left-radius:0;
	border-top-left-radius:0
}
.btn-group .dropdown-toggle:active{
	outline:0
}
.input-group{
	position:relative;
	display:table;
	border-collapse:separate
}
.input-group .form-control{
	position:relative;
	z-index:2;
	float:left;
	width:100%;
	margin-bottom:0
}
.input-group .form-control:focus{
	z-index:3
}
.input-group .form-control,.input-group-btn{
	display:table-cell
}
.input-group-btn{
	width:1%;
	white-space:nowrap;
	vertical-align:middle
}
.input-group .form-control:first-child{
	border-bottom-right-radius:0;
	border-top-right-radius:0
}
.input-group-btn:last-child>.btn{
	border-bottom-left-radius:0;
	border-top-left-radius:0
}
.input-group-btn{
	position:relative;
	font-size:0;
	white-space:nowrap
}
.input-group-btn>.btn{
	position:relative
}
.input-group-btn>.btn:active,.input-group-btn>.btn:focus,.input-group-btn>.btn:hover{
	z-index:2
}
.input-group-btn:last-child>.btn{
	z-index:2;
	margin-left:-1px
}
.nav{
	margin-bottom:0;
	padding-left:0;
	list-style:none
}
.nav:after,.nav:before{
	content:" ";
	display:table
}
.nav:after{
	clear:both
}
.nav>li{
	position:relative;
	display:block
}
.nav>li>a{
	position:relative;
	display:block;
	padding:10px 15px
}
.nav>li>a:focus,.nav>li>a:hover{
	text-decoration:none;
	background-color:#eee
}
.nav-pills>li{
	float:left
}
.nav-pills>li>a{
	border-radius:0
}
.nav-pills>li+li{
	margin-left:2px
}
.navbar{
	position:relative;
	min-height:80px;
	margin-bottom:0;
	border:1px solid transparent
}
.navbar:after,.navbar:before{
	content:" ";
	display:table
}
.navbar:after{
	clear:both
}
@media (min-width:992px){
	.navbar{
		border-radius:0
	}
}
.navbar-header:after,.navbar-header:before{
	content:" ";
	display:table
}
.navbar-header:after{
	clear:both
}
@media (min-width:992px){
	.navbar-header{
		float:left
	}
}
.navbar-collapse{
	overflow-x:visible;
	padding-right:15px;
	padding-left:15px;
	border-top:1px solid transparent;
	box-shadow:inset 0 1px 0 rgba(255,255,255,.1);
	-webkit-overflow-scrolling:touch
}
.navbar-collapse:after,.navbar-collapse:before{
	content:" ";
	display:table
}
.navbar-collapse:after{
	clear:both
}
@media (min-width:992px){
	.navbar-collapse{
		width:auto;
		border-top:0;
		box-shadow:none
	}
	.navbar-collapse.collapse{
		display:block!important;
		height:auto!important;
		padding-bottom:0;
		overflow:visible!important
	}
	.navbar-fixed-top .navbar-collapse{
		padding-left:0;
		padding-right:0
	}
}
.navbar-fixed-top .navbar-collapse{
	max-height:none
}
@media (max-device-width:480px) and (orientation:landscape){
	.navbar-fixed-top .navbar-collapse{
		max-height:200px
	}
}
.container>.navbar-collapse,.container>.navbar-header{
	margin-right:-15px;
	margin-left:-15px
}
@media (min-width:992px){
	.container>.navbar-collapse,.container>.navbar-header{
		margin-right:0;
		margin-left:0
	}
}
.navbar-fixed-top{
	position:fixed;
	right:0;
	left:0;
	z-index:1030
}
@media (min-width:992px){
	.navbar-fixed-top{
		border-radius:0
	}
}
.navbar-fixed-top{
	top:0;
	border-width:0 0 1px
}
.navbar-brand{
	float:left;
	padding:28.5px 15px;
	font-size:20px;
	line-height:23px;
	height:80px
}
.navbar-brand:focus,.navbar-brand:hover{
	text-decoration:none
}
@media (min-width:992px){
	.navbar>.container-fluid .navbar-brand{
		margin-left:-15px
	}
}
.navbar-toggle{
	position:relative;
	float:right;
	margin-right:15px;
	padding:9px 10px;
	margin-top:23px;
	margin-bottom:23px;
	background-color:transparent;
	background-image:none;
	border:1px solid transparent;
	border-radius:0
}
.navbar-toggle:focus{
	outline:0
}
.navbar-toggle .icon-bar{
	display:block;
	width:22px;
	height:2px;
	border-radius:1px
}
.navbar-toggle .icon-bar+.icon-bar{
	margin-top:4px
}
@media (min-width:992px){
	.navbar-toggle{
		display:none
	}
}
.navbar-nav{
	margin:14.25px -15px
}
.navbar-nav>li>a{
	padding-top:10px;
	padding-bottom:10px;
	line-height:23px
}
@media (min-width:992px){
	.navbar-nav{
		float:left;
		margin:0
	}
	.navbar-nav>li{
		float:left
	}
	.navbar-nav>li>a{
		padding-top:28.5px;
		padding-bottom:28.5px
	}
}
.navbar-form{
	margin-left:-15px;
	margin-right:-15px;
	padding:10px 15px;
	border-top:1px solid transparent;
	border-bottom:1px solid transparent;
	-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,.1),0 1px 0 rgba(255,255,255,.1);
	box-shadow:inset 0 1px 0 rgba(255,255,255,.1),0 1px 0 rgba(255,255,255,.1);
	margin-top:15.5px;
	margin-bottom:15.5px
}
@media (min-width:768px){
	.navbar-form .form-control{
		display:inline-block;
		width:auto;
		vertical-align:middle
	}
	.navbar-form .input-group{
		display:inline-table;
		vertical-align:middle
	}
	.navbar-form .input-group .form-control,.navbar-form .input-group .input-group-btn{
		width:auto
	}
	.navbar-form .input-group>.form-control{
		width:100%
	}
}
@media (min-width:992px){
	.navbar-form{
		width:auto;
		border:0;
		margin-left:0;
		margin-right:0;
		padding-top:0;
		padding-bottom:0;
		-webkit-box-shadow:none;
		box-shadow:none
	}
}
.navbar-btn{
	margin-top:15.5px;
	margin-bottom:15.5px
}
@media (min-width:992px){
	.navbar-right{
		float:right!important;
		margin-right:-15px
	}
}
.navbar-default{
	background-color:#fff;
	border-color:#eee
}
.navbar-default .navbar-brand{
	color:#fff
}
.navbar-default .navbar-brand:focus,.navbar-default .navbar-brand:hover{
	color:#e6e6e6;
	background-color:transparent
}
.navbar-default .navbar-nav>li>a{
	color:#fff
}
.navbar-default .navbar-nav>li>a:focus,.navbar-default .navbar-nav>li>a:hover{
	color:#fff;
	background-color:#182b49;
}
.navbar-default .navbar-toggle{
	border-color:transparent
}
.navbar-default .navbar-toggle:focus,.navbar-default .navbar-toggle:hover{
	background-color:#ddd
}
.navbar-default .navbar-toggle .icon-bar{
	background-color:#888
}
.navbar-default .navbar-collapse,.navbar-default .navbar-form{
	border-color:#eee
}
.jumbotron{
	padding-top:30px;
	padding-bottom:30px;
	margin-bottom:30px;
	color:inherit;
	background-color:#eee
}
.jumbotron h1{
	color:inherit
}
.jumbotron p{
	margin-bottom:15px;
	font-size:16px;
	font-weight:200;
}
.jumbotron .container{
	max-width:100%
}
@media screen and (min-width:768px){
	.jumbotron{
		padding-top:48px;
		padding-bottom:48px
	}
	.jumbotron h1{
		font-size:72px
	}
}
.panel{
	margin-bottom:23px;
	background-color:#fff;
	border:1px solid transparent;
	border-radius:0;
	-webkit-box-shadow:0 1px 1px rgba(0,0,0,.05);
	box-shadow:0 1px 1px rgba(0,0,0,.05)
}
.panel-body{
	padding:15px
}
.panel-body:after,.panel-body:before{
	content:" ";
	display:table
}
.panel-body:after{
	clear:both
}
.panel-default{
	border-color:none
}
.panel-primary{
	border-color:none
}
.carousel{
	position:relative
}
.carousel-inner{
	position:relative;
	overflow:hidden;
	width:100%
}
.carousel-inner>.item{
	display:none;
	position:relative;
	-webkit-transition:.6s ease-in-out left;
	-o-transition:.6s ease-in-out left;
	transition:.6s ease-in-out left
}
.carousel-inner>.item>img{
	display:block;
	max-width:100%;
	height:auto;
	line-height:1
}
@media all and (transform-3d),(-webkit-transform-3d){
	.carousel-inner>.item{
		-webkit-transition:-webkit-transform .6s ease-in-out;
		-moz-transition:-moz-transform .6s ease-in-out;
		-o-transition:-o-transform .6s ease-in-out;
		transition:transform .6s ease-in-out;
		-webkit-backface-visibility:hidden;
		-moz-backface-visibility:hidden;
		backface-visibility:hidden;
		-webkit-perspective:1000px;
		-moz-perspective:1000px;
		perspective:1000px
	}
	.carousel-inner>.item.active{
		-webkit-transform:translate3d(0,0,0);
		transform:translate3d(0,0,0);
		left:0
	}
}
.carousel-inner>.active{
	display:block
}
.carousel-inner>.active{
	left:0
}
.carousel-control{
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	width:15%;
	opacity:.5;
	font-size:20px;
	color:#fff;
	text-align:center;
	text-shadow:0 1px 2px rgba(0,0,0,.6);
	background-color:transparent
}
.carousel-control.left{
	background-image:-webkit-linear-gradient(left,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%);
	background-image:-o-linear-gradient(left,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%);
	background-image:linear-gradient(to right,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%);
	background-repeat:repeat-x
}
.carousel-control.right{
	left:auto;
	right:0;
	background-image:-webkit-linear-gradient(left,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
	background-image:-o-linear-gradient(left,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
	background-image:linear-gradient(to right,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
	background-repeat:repeat-x
}
.carousel-control:focus,.carousel-control:hover{
	outline:0;
	color:#fff;
	text-decoration:none;
	opacity:.9
}
.carousel-control .glyphicon-chevron-left,.carousel-control .glyphicon-chevron-right{
	position:absolute;
	top:50%;
	margin-top:-10px;
	z-index:5;
	display:inline-block
}
.carousel-control .glyphicon-chevron-left{
	left:50%;
	margin-left:-10px
}
.carousel-control .glyphicon-chevron-right{
	right:50%;
	margin-right:-10px
}
.carousel-indicators{
	position: absolute;
	bottom: 20px;
	display: block;
	left: 50%;
	transform: translateX(-50%);
	background-color: rgba(0,0,0,.5);
	border-radius: 12px;
	padding: 0 0 0 10px;
	z-index: 999;
}
.carousel-indicators li{
	display:inline-block;
	width:10px;
	height:10px;
	margin:1px;
	text-indent:-999px;
	border:1px solid #fff;
	border-radius:10px;
	cursor:pointer;
	background-color:transparent
}
.carousel-indicators .active{
	margin:0;
	width:12px;
	height:12px;
	background-color:#fff
}
@media screen and (min-width:768px){
	.carousel-control .glyphicon-chevron-left,.carousel-control .glyphicon-chevron-right{
		width:30px;
		height:30px;
		margin-top:-10px;
		font-size:30px
	}
	.carousel-control .glyphicon-chevron-left{
		margin-left:-10px
	}
	.carousel-control .glyphicon-chevron-right{
		margin-right:-10px
	}
	.carousel-indicators{
		bottom:20px
	}
}
.clearfix:after,.clearfix:before{
	content:" ";
	display:table
}
.clearfix:after{
	clear:both
}
.pull-right{
	float:right!important
}
.hidden{
	display:none!important
}
@-ms-viewport{
	width:device-width
}
.visible-xs{
	display:none!important
}
.visible-sm{
	display:none!important
}
@media (max-width:767px){
	.visible-xs{
		display:block!important
	}
}
@media (min-width:768px) and (max-width:991px){
	.visible-sm{
		display:block!important
	}
}
@media (max-width:767px){
	.hidden-xs{
		display:none!important
	}
}
@media (min-width:768px) and (max-width:991px){
	.hidden-sm{
		display:none!important
	}
}
@media (min-width:992px) and (max-width:1199px){
	.hidden-md{
		display:none!important
	}
}
@media (min-width:1200px){
	.hidden-lg{
		display:none!important
	}
}
.no-gutter{
	padding-left:0;
	padding-right:0
}
body{
	font-weight:400
}
h1,h2,h3{
	text-transform:uppercase;
	font-weight:400
}
h1 br{
	margin-left:1em
}
@-moz-document url-prefix(){
	body{
		font-weight:400
	}
}
.top-nav>li{
	float:right!important;
	font-size:.8em
}
.top-nav>li a{
	color:#484949
}
.main{
	margin-top:5em
}
.secondary-nav{
	background-color:transparent;
	margin:14.25px -15px
}
.secondary-nav>li{
	background-color:#182b49;
	margin-bottom:.5em
}
.secondary-nav>li a{
	color:#fff
}
.secondary-nav>li a:hover{
	background-color:#ffcd00;
	color: #182b49;
}
.navbar-toggle{
	margin-right:0;
	padding-top:6px
}
.navbar-default .navbar-toggle:focus,.navbar-default .navbar-toggle:hover{
	background:0 0
}
.navbar-default.navbar-fixed-top{
	z-index:1001;
	-webkit-box-shadow:0 2px 5px 0 rgba(0,0,0,.25);
	-moz-box-shadow:0 2px 5px 0 rgba(0,0,0,.25);
	box-shadow:0 2px 5px 0 rgba(0,0,0,.25)
}
.navbar-toggle .icon-bar{
	height:4px
}
.navbar-toggle .icon-bar+.icon-bar{
	margin-top:5px
}
.navbar-toggle{
	border:none;
	background:0 0
}
.navbar-toggle:hover{
	background:0 0
}
.navbar-toggle .icon-bar{
	width:25px;
	left:3px;
	transition:all .2s;
	position:relative
}
.navbar-toggle .icon-bar:nth-child(2){
	transform:rotate(45deg);
	transform-origin:-4% 10%
}
.navbar-toggle .icon-bar:nth-child(3){
	opacity:0
}
.navbar-toggle .icon-bar:nth-child(4){
	transform:rotate(-45deg);
	transform-origin:-4% 90%
}
.navbar-toggle.collapsed .icon-bar{
	left:0
}
.navbar-toggle.collapsed .icon-bar:nth-child(2){
	transform:rotate(0)
}
.navbar-toggle.collapsed .icon-bar:nth-child(3){
	opacity:1
}
.navbar-toggle.collapsed .icon-bar:nth-child(4){
	transform:rotate(0)
}
.dropdown-search{
	background:#fff;
	color:#000;
	width:100%;
	padding:0 15px;
	margin:0
}
.navbar-default .dropdown-search .navbar-form,.navbar-default .navbar-collapse{
	border:none;
	padding-top:0;
	padding-bottom:0;
	margin-bottom:0
}
.dropdown-search .radio-inline{
	font-size:.85em;
	padding-bottom:1em
}
.search-icon.search-expand.dropdown-toggle{
	padding:.1em;
	margin:22px 5px 0 0;
	float:right;
	border-radius: 8px;
}
.navbar-header .search-icon.search-expand.dropdown-toggle .search-icon{
	padding:1em;
	background-image:url(../img/icon_search.png);
	width:30px;
	background-repeat:no-repeat;
	height:29px;
	background-size:25px;
	display:block;
	background-position:center
}
.navbar-btn .dropdown-toggle{
	transform:rotate(180deg)
}
.navbar-btn .dropdown-toggle,.navbar-btn a{
	background:0 0
}
.nav.navbar-nav.small-nav>li{
	border-bottom:1px solid rgba(255,255,255,.25)
}
.navbar-nav.small-nav{
	margin-top:0;
	margin-bottom:0
}
.navbar-nav.small-nav .navbar-btn{
	margin-bottom:0
}
.navbar-default .navbar-nav{
	padding:0
}
.navbar-default .navbar-nav.small-nav .dropdown-menu{
	background-color: #182b49;
	padding-top:0;
	padding-bottom:0
}
.navbar-default .navbar-nav.small-nav .navbar-btn>a{
	text-transform:uppercase;
	color:#fff;
	padding:00px 15px
}
.navbar-default .navbar-nav.small-nav .navbar-btn a{
	padding:0 15px 15px;
	display:inline-block
}
.navbar-default .navbar-nav.small-nav .navbar-btn .dropdown-menu a{
	padding:1em 15px 15px;
	width:100%
}
.navbar-default .navbar-nav.small-nav .navbar-btn ul li a{
	font-family:BrixSansRegular
}
.navbar-default .navbar-nav.small-nav>li .navbar-btn{
	width:100%
}
.navbar-default .navbar-nav.small-nav li .navbar-btn .dropdown-toggle{
	float:right;
	padding:0;
	padding-left:15px;
	padding-right:15px
}
.navbar-default{
	background:0 0;
	border:none
}
.header-wrap{
	background:#fff;
	padding-bottom:0
}
.nav-wrap{
	background-color: #00629b;
	padding:0
}
.nav-wrap .container{
	margin-top:0
}
.navbar-default .navbar-nav .nav-group>a{
	text-transform:uppercase;
	font-size:.835em;
	color:#182b49;
	text-decoration:none;
	text-align:left;
	line-height:1
}
.main-nav{
	overflow:hidden;
	max-height:50px;
	-webkit-transition:max-height .5s;
	transition:max-height .5s
}
.main-nav .large-nav{
	width:100%
}
.main-nav>.menu{
	display:-webkit-box;
	display:-webkit-flex;
	display:-ms-flexbox;
	display:flex;
	-webkit-flex-wrap:nowrap;
	-ms-flex-wrap:nowrap;
	flex-wrap:nowrap;
	-webkit-box-pack:start;
	-webkit-justify-content:flex-start;
	-ms-flex-pack:start;
	justify-content:flex-start
}
.main-nav li{
	-webkit-flex-basis:0;
	-ms-flex-preferred-size:0;
	flex-basis:0;
	-webkit-box-flex:1;
	-webkit-flex-grow:1;
	-ms-flex-positive:1;
	flex-grow:1;
	float:none;
	width:auto
}
.main-nav .nav-group>a{
	text-transform:uppercase;
	background-color:#fff;
	padding-top:.5em;
	height:50px
}
.main-nav .list-unstyled li:hover{
	background-color:#fff
}
.main-nav .list-unstyled li a{
	padding:.5em 1em;
	display:block;
	color:#fff;
	font-family:BrixSansRegular
}
.main-nav .list-unstyled li a:hover{
	text-decoration:none;
	color:#484949
}
a.anchor{
	display:block;
	position:relative;
	top:-80px;
	visibility:hidden
}
.btn{
	font-size: 14px;
	text-transform:uppercase;
	padding:.8em 1.5em;
	min-width:200px;
	margin-bottom:1em;
	letter-spacing: 1px;
	font-weight:400;
	border-radius: 8px;
}
.btn.navbar-btn{
	min-width:0
}
.text-link{
	text-transform:uppercase;
	font-family:BrixSansBold,Helvetica,Arial,sans-serif;
	border-bottom:1px #00629B solid;
	letter-spacing:.08em
}
.text-link-secondary{
	text-transform:uppercase;
	font-family:BrixSansBold,Helvetica,Arial,sans-serif;
	border-bottom:1px #fff solid;
	letter-spacing:.08em
}
.text-link-secondary:focus,.text-link-secondary:hover,.text-link:focus,.text-link:hover{
	text-decoration:none
}
.panel{
	border:none
}
.panel.panel-primary{
	background:rgba(0,106,150,.85)
}
.panel.panel-primary .panel-body{
	padding:1em 2em
}
.panel.panel-primary .text-link{
	color:#fff;
	border-bottom:1px solid #fff
}
.text-indent h1 span{
	margin-left: 1.24em;
}
.btn-default{
	background-color:#ffcd00;
	color:#484949;
	font-family:BrixSansBold;
	transition:all .3s;
}
.btn-primary{
	font-family:BrixSansBold
}
.btn-default:active,.btn-default:hover{
	color:#484949;
	background-color:#00c6d7;
	border-color:transparent;
	transition:all .3s
}
.jumbotron-hero{
	background-color:rgba(0,0,0,.25);
	background-blend-mode:multiply
}
.navbar-default{
	font-family:BrixSansBold,Helvetica,Arial,sans-serif
}
.navbar-brand{
	padding:28.5px 15px 28.5px 0
}
.navbar-default .navbar-brand span{
	color:transparent;
	width:255px
}
.navbar-default .navbar-brand span img{
	width:155px
}
.jumbotron{
	margin-bottom:0;
	background-size:cover!important;
	background-repeat:no-repeat;
	background-position:center;
	color:#fff
}
.jumbotron .panel{
	color:#484949
}
.jumbotron .panel.panel-primary{
	color:#fff
}
.jumbotron-hero .text-indent h1{
	text-shadow:0 0 50px rgba(0,0,0,.75)
}
.jumbotron-hero .text-indent p{
	text-shadow:0 0 25px rgba(0,0,0,.75)
}
.jumbotron-quote-slider h2,.jumbotron-quote-slider p{
	text-shadow:none
}
.jumbotron p{
	font-size:inherit
}
.jumbotron-callout-sm,.jumbotron-hero{
	background-size:cover
}
.panel .btn-primary:focus,.panel .btn-primary:hover{
	background-color:#102339;
	transition:all .3s
}
.navbar-search .btn{
	min-width:0
}
.search-icon img{
	opacity:.5;
	padding-top:.25em
}
.search-icon.search-expand{
	background-color:#d3d3d3;
	padding:.725em
}
.search-icon.search-expand img{
	opacity:.5;
	height:24px;
	padding:0
}
.page-homepage section{
	z-index:1;
	position:relative
}
.jumbotron-quote-slider{
	background-color:#00629B;
	color:#fff;
	background-image:url(../img/bg_blue_lines.png)
}
.jumbotron-callout-sm.jumbotron-research{
	background-image:url(../img/bg_research.jpg);
}
.jumbotron.jumbotron-attend{
	background-image:url(../img/bg_attend.jpg);
	background-position:center top
}
.side-image-white{
	color:#484949
}
.carousel-indicators .active,.carousel-indicators li{
	color:#747678;
	border-width:2px;
	padding:.25em;
	margin-right:.25em
}
.carousel-indicators .active{
	background-color:transparent;
}
.jumbotron-callout-sm{
	background-image:url(../img/bg_academic_extension.jpg);
	background-position:center top
}
.side-image{
	position:relative
}
.side-image .image-container{
	overflow:hidden;
	position:absolute;
	height:100%;
	padding:0;
	top:0
}
.background-image-holder{
	position:absolute;
	top:0;
	height:100%;
	width:100%;
	background-size:cover!important;
	z-index:0;
	background-position:50% 50%!important
}
.image-container-mobile .background-image-holder{
	height:200px;
	position:relative;
	background-position-y:top!important
}
.side-image-white{
	background:#fff
}
.side-image-white > div > div > div > p > .btn-default:hover {
    background: #182B49;
    color: #ffffff;
}
.jumbotron-athletics .image-container .background-image-holder,.jumbotron-athletics .image-container-mobile .background-image-holder{
	background:url(../img/bg_life_athletics.jpg)
}
.side-image h2{
	padding-top:.5em
}
.jumbotron.jumbotron-full-height{
	padding:0;
	overflow:hidden
}
.jumbotron.jumbotron-full-height{
	min-height:435px
}
.side-image h2{
	padding-top:1.5em
}
.jumbotron-map{
	background-image:url(../img/bg_map.jpg)
}
.jumbotron-map .panel.panel-default{
	background:rgba(255,255,255,.8)
}
.jumbotron-map .btn{
	margin-top:.5em;
	margin-bottom:.3em
}
.footer-address-bar,.footer-divisions{
	background:#00629B
}
.footer-address-bar .footer-tel,.footer-address-bar address{
	color:#fff
}
.footer-address-bar .footer-tel{
	padding-top:.5em;
	display:inline-block
}
.footer-address-bar .footer-address{
	padding:.5em 0
}
.footer-address-bar .footer-brand img{
	padding:3em 0;
	max-width:120px
}
.footer-brand{
	max-width:130px
}
.footer-address-bar{
	padding:0
}
.footer-address-bar address{
	font-size:1em;
	margin:0
}
.footer-links{
	padding:.5em;
	font-size:.85em
}
.footer-links ul li{
	padding-bottom:1em
}
.footer-links ul li a{
	color:#747678
}
.footer-links .btn-apply{
	min-width:0;
	padding:.8em 1em;
	margin-top:2em
}
.footer-social-links img{
	max-width:40px
}
.footer-divisions .dropup .dropdown-menu{
	width:100%;
	min-height:270px;
	box-shadow:none;
	margin-bottom:17px;
	text-align:center;
	background-color:#00629B;
	border:none;
	padding:1em 0
}
.footer-divisions .btn-default,.footer-divisions .btn-default:active{
	background-color:transparent;
	margin-bottom:0;
	color:#fff
}
.footer-divisions .dropup .dropdown-menu .text-link-secondary{
	border-bottom:none;
	padding:.35em;
	margin:.35em;
	font-size:.95em
}
.footer-divisions .dropup .dropdown-menu .text-link-secondary:hover{
	background-color:#fff
}
.footer-divisions .dropup .dropdown-menu>li>a{
	white-space:normal
}
.footer-copyright{
	background:#182B49;
	color:#fff;
	padding:1em;
	margin-bottom:0
}
.footer-copyright p{
	margin-bottom:0
}


@media (min-width:426px){
	.footer-address-bar .footer-brand img{
		padding:2em 0
	}
}
@media (min-width:768px){
	body{
		font-size:1.8em
	}
	h1{
		font-size:3.4em;
	}
	h2{
		font-size:2.85em;
		letter-spacing: 1px;
	}
	h3{
		font-size:2.0em;
		letter-spacing: 1px;
	}
	.jumbotron{
		padding-top:60px;
		padding-bottom:60px
	}
	.jumbotron h1{
		font-size:3.4445em
	}
	.navbar-toggle{
		display:block
	}
	.nav-wrap{
		background-color:#00629b;
		padding:0
	}
	.header-wrap .container,.nav-wrap .container{
		width:97%
	}
	.main-nav .nav-group,.main-nav .nav-group.nav-group-sm{
		width:15.6667%
	}
	.navbar-brand{
		padding:28.5px 15px 28.5px 13px;
		-webkit-transition:all .3s ease;
		transition:all .3s ease
	}
	.navbar-default .navbar-nav li>a{
		color:#fff
	}
	.jumbotron-hero{
		padding-top:102px;
		padding-bottom:102px
	}
	.panel .panel-body{
		padding:1em 2em
	}
	.jumbotron .text-indent{
		margin-bottom:1.5em
	}
	.jumbotron.jumbotron-callout-sm .text-indent{
		margin-bottom:1em
	}
	.main{
		margin-top:4.6em
	}
	.panel.panel-primary .panel-body{
		padding:1.5em 3.5em
	}
	a.anchor{
		top:-158px
	}
	.footer-divisions{
		padding:1em
	}
	.footer-divisions .dropup .dropdown-menu{
		padding:4em 0
	}
	.footer-address-bar .footer-brand img{
		max-width:177px
	}
	.footer-social-links{
		padding:2em
	}
	.footer-address-bar .footer-address{
		margin-left:2em
	}
	.footer-address-bar .footer-address{
		line-height:3.3em
	}
	.footer-address-bar address{
		font-size:1.12em
	}
	.footer-links .btn-apply{
		margin-top:0
	}
}
@media (min-width:992px){
	.navbar-toggle{
		display:none
	}
	.main{
		margin-top:8.8em
	}
	.header-wrap .container,.nav-wrap .container{
		width:100%
	}
	.header-wrap{
		padding-bottom:50px
	}
	.nav-wrap .container{
		margin-top:-50px
	}
	.navbar-default .navbar-brand span img{
		width:255px;
		-webkit-transition:all .3s ease;
		transition:all .3s ease
	}
	.navbar-right{
		margin-right:0
	}
	nav.navbar,nav.navbar.navbar-default .navbar-brand,nav.navbar.navbar-default .navbar-brand span img,nav.navbar.navbar-default .navbar-form{
		-webkit-transition:all .2s ease;
		transition:all .2s ease
	}
	nav.navbar.navbar-default .header-wrap{
		-webkit-transition:all 0s ease;
		transition:all 0s ease
	}
	.navbar-search .input-group{
		margin:.85em .7em 0
	}
	.navbar-search .radio-inline{
		font-size:.85em;
		opacity:0
	}
	.navbar-search .radio-inline.hidden{
		display:none
	}
	.text-indent-h1 p{
		margin-left: 5.15em;
	}
	.text-indent-h1 a.btn{
		margin-left: 6.2em;
	}
	.text-indent-h2 p{
		margin-left: 3.6em;
	}
	.text-indent-h2 a.btn{
		margin-left: 4.4em;
	}
	.text-indent-h1 p,.text-indent-h2 p{
		width:19em
	}
	.panel.panel-primary .panel-body{
		min-height:0;
		padding:1em 2.5em
	}
	.footer-links{
		padding:3em 0
	}
	.footer-social-links{
		padding:4em 0 0 0
	}
}
@media (min-width:1025px){
	h1{
		font-size:4em
	}
	.search-icon.search-expand:focus,.search-icon.search-expand:hover{
		background-color:#ffcd00
	}
	.jumbotron h1{
		font-size:4em
	}
}
@media (min-width:1200px){
	.panel.panel-primary .panel-body{
		min-height:0
	}
	.header-wrap .container,.nav-wrap .container{
		max-width:1400px
	}
	.main-nav .nav-group{
		width:18.5%;
		min-height:18em
	}
	.main-nav .nav-group.nav-group-sm{
		width:13.5%
	}
	.main-nav .nav-group.nav-group-lg{
		width:22.5%
	}
	.navbar-default .navbar-brand span img{
		width:255px;
		-webkit-transition:all .3s ease;
		transition:all .3s ease
	}
	.navbar-default .navbar-nav .nav-group>a{
		text-align:left
	}
	.footer-address-bar .footer-address{
		margin-left:0
	}
	.footer-divisions .dropup .dropdown-menu{
		padding:4em 0;
		min-height:0
	}
	.footer-divisions .dropup .dropdown-menu .text-link-secondary{
		padding:.5em;
		margin:.5em
	}
}